<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>PuroFusion</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>picer-prd-app01</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site\PuroFusionTest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>cpggpc.ca\scott.cardinale</UserName>
    <_SavePWD>true</_SavePWD>
    <_TargetId>IISWebDeploy</_TargetId>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="PurolatorReportingConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=PI-DEV-SQL;Initial Catalog=PurolatorReporting;User ID=puroIT;Password=puro@123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PurolatorReportingConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=PI-DEV-SQL;Initial Catalog=PurolatorReporting;User ID=puroIT;Password=puro@123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PuroTouchDBSQLConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=PI-DEV-SQL;Initial Catalog=PuroFusion;User ID=puroIT;Password=puro@123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PuroTouchDBSQLConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=PI-DEV-SQL;Initial Catalog=PuroFusion;User ID=puroIT;Password=puro@123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ExpenseSQLConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=PICER-PRD-SQL01;Initial Catalog=exbeSQL;User ID=afinanceuser;Password=puro123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ExpenseSQLConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=PICER-PRD-SQL01;Initial Catalog=exbeSQL;User ID=afinanceuser;Password=puro123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="prepumaSQLConnectionString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=PICER-PRD-SQL01;Initial Catalog=prepumaSQL;User ID=afinanceuser;Password=puro123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\prepumaSQLConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=PICER-PRD-SQL01;Initial Catalog=prepumaSQL;User ID=afinanceuser;Password=puro123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ExpenseSQLConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)prepumaSQLConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PurolatorReportingConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PuroTouchDBSQLConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>