<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PI_Application.Properties.Settings.PurolatorReportingConnectionString"
            connectionString="Data Source=PI-DEV-SQL;Initial Catalog=PurolatorReporting;Persist Security Info=True;User ID=puroIT;Password=puro@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>